
# This file contains environment variables for the Google API.
GOOGLE_API_KEY=
GOOGLE_CHAT_MODEL_NAME=gemini-2.5-flash
GOOGLE_EMBED_MODEL_NAME=gemini-embedding-001   


# For OpenAI
OPENAI_API_KEY=
OPENAI_CHAT_MODEL_NAME=text-embedding-ada-002
OPENAI_EMBED_MODEL_NAME=text-embedding-3-small

